@import "./variables";

.main {
  .about-me{
    height: 100%;
    background-image: url(../images/about-background-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    .about-me-content{
      height: 100%;
      padding: 100px 0;
      display: flex;
      justify-content: center;
      align-items: center;

      .about-me-img-container{
        @include boxShadow;
      }

      .about-me-text{
        color: $main-color;
        margin: 0 0 0 5em;

        .about-me-title{
          width: 160px;
          margin: 0 auto 2em;

          h2{
            text-align: center;
            text-transform: uppercase;
            font-size: 2rem;
            position: relative;
            letter-spacing: 2px;

            &::after{
              content: '';
              display: block;
              height: 3px;
              width: 100%;
              background-color: $main-color;
            }
          }
  
        }
    
        p{
          margin-bottom: 1.5em;
          font-family: $main-font;
          font-size: 1.1rem;
        }
      }
    }
  }
}

// Medium to Small Media Queries
@media only screen and (max-width: 768px) and (min-width: 567px){
  .main {
    .about-me{
  
      .about-me-content{
        flex-direction: column;
  
        .about-me-img-container{
          @include boxShadow;
        }
  
        .about-me-text{
          color: $main-color;
          margin: 2em 0 0 0;
          padding: 1em 2.5em;
  
          .about-me-title{
            width: 141px;

            h2{
              font-size: 1.8rem;
            }
    
          }
    
        }
      }
    }
  }
}
// Small To Extra Small Media Queries
@media only screen and(max-width: 567px){
  .main {

    .about-me{
      height: 100%;
      background-image: url(../images/medium-about-background.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      .about-me-content{
        flex-direction: column;
  
        .about-me-img-container{
          box-shadow: unset;

          img{
            width: 150px;
            border-radius: 50%;
          }
        }
  
        .about-me-text{
          color: $main-color;
          margin: 2em 0 0 0;
          padding: 1em 2.5em;
  
          .about-me-title{
            width: 115px;

            h2{
              font-size: 1.2rem;
            }
    
          }

          p{
            margin-bottom: 1em;
            font-family: $main-font;
            font-size: 1rem;
          }
    
        }
      }
    }
  }
}
