@import "./variables";
// Portfolio Opening

.portfolio-opening{
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  overflow-y: hidden;
  z-index: 1;

  .grid{
    overflow: hidden;
    transition: transform 300ms ease-in-out;
  }

  .grid:nth-child(1){
    background-image: url(../images/opening-img/opening-1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    grid-column: 1/2;
    grid-row: 1/2;

    &.open{
      transform: translateX(-100vh);
    }
  }
  .grid:nth-child(2){
    background-image: url(../images/opening-img/opening-2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    grid-column: 2/4;
    grid-row: 1/2;

    &.open{
      transform: translateY(-100vh);
    }
  }
  .grid:nth-child(3){
    background-image: url(../images/opening-img/opening-3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    grid-column: 1/3;
    grid-row: 2/3;

    &.open{
      transform: translateY(100vh);
    }
  }
  .grid:nth-child(4){
    background-image: url(../images/opening-img/opening-4.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    grid-column: 3/4;
    grid-row: 2/3;

    &.open{
      transform: translateX(100vh);
    }
  }

  .btn-open-portfolio{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    .btn{
      background: linear-gradient(
        to right,
        #000,
        #333
      );
      font-weight: 700;
      font-size: 1.125rem;
      letter-spacing: 5px;
      border-radius: 50px;
      color: $main-color;
      box-shadow: 1px 1px 10px rgba(255,255,255, .8);

      &:hover{
        background: linear-gradient(
          to right,
          rgb(39, 39, 39),
          rgb(29, 27, 27)
        );
        animation-name: jiggleBtn;
        animation-duration: 300ms;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
      }
    
      &.hide{
        display: none;
      }
    }
  }
}
@include btnHoverAnimation;

@for $i from 1 through 4 {
  .grid:nth-child(#{$i}){
    transition-delay: ($i * .2s);
  }
}
// Media Queries
// Large To Medium
@media only screen and (max-width:992px) and (min-width: 768px){
  // Portfolio Opening
  .portfolio-opening{
    
    
    .grid:nth-child(1){
      background-image: url(../images/opening-img/medium-opening-1.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      grid-column: 1/2;
      grid-row: 1/2;

      &.open{
        transform: translateX(-100vh);
      }
    }
    .grid:nth-child(2){
      background-image: url(../images/opening-img/medium-opening-2.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      grid-column: 2/4;
      grid-row: 1/2;

      &.open{
        transform: translateY(-100vh);
      }
    }
    .grid:nth-child(3){
      background-image: url(../images/opening-img/medium-opening-3.jpg);
      background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
      grid-column: 1/3;
      grid-row: 2/3;

      &.open{
        transform: translateY(100vh);
      }
    }
    .grid:nth-child(4){
      background-image: url(../images/opening-img/medium-opening-4.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      grid-column: 3/4;
      grid-row: 2/3;

      &.open{
        transform: translateX(100vh);
      }
    }
    
  }
}
// Medium To Small
@media only screen and (max-width:768px) and (min-width: 567px){
  // Portfolio Opening
  .portfolio-opening{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  
    .grid:nth-child(1){
      background-image: url(../images/opening-img/opening-1.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      grid-column: 1/2;
      grid-row: 1/2;
  
      &.open{
        transform: translateX(-100vh);
      }
    }
    .grid:nth-child(2){
      background-image: url(../images/opening-img/opening-2.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      grid-column: 1/2;
      grid-row: 2/3;
  
      
      &.open{
        transform: translateX(100vh);
      }
    }
    .grid:nth-child(3){
      background-image: url(../images/opening-img/opening-3.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      grid-column: 1/2;
      grid-row: 3/4;
  
      
      &.open{
        transform: translateX(-100vh);
      }
    }
    .grid:nth-child(4){
      background-image: url(../images/opening-img/opening-4.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      grid-column: 1/2;
      grid-row: 4/5;
  
      &.open{
        transform: translateX(100vh);
      }
    }
  
    .btn-open-portfolio{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
  
      .btn{
        background: linear-gradient(
          to right,
          #000,
          #333
        );
        font-weight: 700;
        font-size: 1.125rem;
        letter-spacing: 5px;
        border-radius: 50px;
        color: $main-color;
        box-shadow: 1px 1px 10px rgba(255,255,255, .8);
        
      }
    }
  }
}
// Medium To Small
@media only screen and (max-width:567px){
  // Portfolio Opening
  .portfolio-opening{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  
    .grid:nth-child(1){
      background-image: url(../images/opening-img/small-opening-1.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      grid-column: 1/2;
      grid-row: 1/2;
  
      &.open{
        transform: translateX(-100vh);
      }
    }
    .grid:nth-child(2){
      background-image: url(../images/opening-img/small-opening-2.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      grid-column: 1/2;
      grid-row: 2/3;
  
      
      &.open{
        transform: translateX(100vh);
      }
    }
    .grid:nth-child(3){
      background-image: url(../images/opening-img/small-opening-3.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      grid-column: 1/2;
      grid-row: 3/4;
  
      
      &.open{
        transform: translateX(-100vh);
      }
    }
    .grid:nth-child(4){
      background-image: url(../images/opening-img/small-opening-4.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      grid-column: 1/2;
      grid-row: 4/5;
  
      &.open{
        transform: translateX(100vh);
      }
    }
  
    .btn-open-portfolio{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
  
      .btn{
        background: linear-gradient(
          to right,
          #000,
          #333
        );
        font-weight: 700;
        font-size: 1rem;
        letter-spacing: 5px;
        border-radius: 50px;
        color: $main-color;
        box-shadow: 1px 1px 10px rgba(255,255,255, .8);
        padding: .5em;
      }
    }
  }
}
// Lanscape Devices
@media only screen and (max-width:768px) and (orientation: landscape) {
  // Portfolio Opening
  .portfolio-opening{
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  
    .grid{
      transition: transform 300ms ease-in-out;
    }
    .grid:nth-child(1){
      background-image: url(../images/opening-img/opening-1.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      grid-column: 1/2;
      grid-row: 1/2;
  
      &.open{
        transform: translateX(-100vh);
      }
    }
    .grid:nth-child(2){
      background-image: url(../images/opening-img/opening-2.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      grid-column: 2/4;
      grid-row: 1/2;
  
      &.open{
        transform: translateY(-100vh);
      }
    }
    .grid:nth-child(3){
      background-image: url(../images/opening-img/opening-3.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      grid-column: 1/3;
      grid-row: 2/3;
  
      &.open{
        transform: translateY(100vh);
      }
    }
    .grid:nth-child(4){
      background-image: url(../images/opening-img/opening-4.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      grid-column: 3/4;
      grid-row: 2/3;
  
      &.open{
        transform: translateX(100vh);
      }
    }
  
  }
}
